<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Functional JS</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
    <link href='style.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="site-container">
        <header class="site-header">
            <a href="#" class="header-logo fancy">( McCarthy's Pub )</a>
        </header>

        <h1 class="fancy">Beer List</h1>

         <div id="filters">
            <a class="btn btn-default btn-active" data-filter='"all"'>All</a>
            <a class="btn btn-default" data-filter='"domestic"'>Domestic</a>
            <a class="btn btn-default" data-filter='"import"'>Imports</a>
            <div class="btn-group">
              <a type="button" class="btn btn-default" data-filter='["ipa","ale"]'>Ales</a>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-filter='"ipa"'>IPA</a></li>
                <li><a href="#" data-filter='"ale"'>Ale</a></li>
              </ul>
            </div>
            <a class="btn btn-default" data-filter='"lager"'>Lagers</a>
            <a class="btn btn-default" data-filter='"stout"'>Stouts</a>
        </div>

        <ul id="beerList"></ul>

        <script type="text/template" id="tmpl-beer">
          <% _.forEach(beers, function (beer) { %>
          <li><%= beer.name %> <small>(<%= beer.abv %>%)</small></li>
          <% }); %>
        </script>

    </div>

    <script src="https://rawgit.com/lodash/lodash/3.0.1/lodash.min.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="beer.js"></script>
    <script src="app.js"></script>

</body>
</html>
